html{
    height:100%;
    width:100%;
}
body {
    height: 100%;
    width: 100%;
}

#MainH {
    text-align: justify;
    background-color: black;
    color: azure;
    margin: 6px 17px;
    padding: 25px 50px;
    font-size: 35px;
    width:75%;
    float:none:
    
}
#Rightblock {
    text-align: left;
    background-color: rgb(199, 218, 224);
    font-family: 'Times New Roman', Times, serif;
    color: cornsilk;
    padding: 25px 50px;
    margin: 6px 17px;
    width: 100%;
    float: right;
    overflow-y: hidden;
}
.CheckBox {
    background-color: rgba(112,0,0,0.7);
    border: solid;
    border-color: rgb(118,48,0);
    padding: 5px 10px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    
}

.RightBH {
    background-color: rgb(0, 88, 186);
    border-bottom: double;
    border-color: goldenrod;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 25px;
    width: inherit;
    height:100%;
    
}




#Leftblock {
    text-align: center;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 50px;
    margin: 6px 17px;
    width: 100%;
    float: left;
    overflow-y: hidden;
}


.PersonB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    width: inherit;
    height: 100%;
    padding: 25px 50px;
    margin: 6px 17px;
}
.PersonH {
    text-align: center;
    background-color: rgb(42,61,89);
    width: inherit;
    height: 100%;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 22px;
}
.PersonPar {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    height: 100%;
}
.PersonPar2 {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    height: 100%;
}
.EdB {
    background-color: rgb(102,99,103);
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    height: 100%;
}
.EdH {
    text-align: center;
    background-color: rgb(42,61,89);
    width: 50%;
    height: auto;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 22px;
    width: inherit;
    height: 100%;
}
.EdL {
    text-align: justify;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    height: 100%;
}
.EdTable {
    text-align: center;
    border: groove;
    border-color: midnightblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    height: 100%;
}
.EdPar {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    height: 100%;
}
.CertificationB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    height: 100%;
}
.MatricCer {
    text-align: left;
    margin: 6px 17px;
    font-size: 20px;
    background-color: antiquewhite;
    width: inherit;
    height: 100%;
}
.CerL {
    text-align: center;
    background-color: rgb(42,61,89);
    padding: 7px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    height: 100%;
}
.CerTable {
    text-align: center;
    border: groove;
    border-color: midnightblue;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 15px;
    width: inherit;
    height: 100%;
}
.ProjectB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    height: 100%;
}
.ProjectTable {
    text-align: center;
    border: groove;
    border-color: midnightblue;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 15px;
    width: inherit;
    height: 100%;
}
.ProjectL {
    text-align: center;
    background-color: rgb(42,61,89);
    height: 100%;
    width: 100%;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    height: 100%;
}
.ProjectP {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    height: 100%;
}
.MoreB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    height: 100%;
}
.MoreL {
    text-align: center;
    background-color: rgb(42,61,89);
    padding: 7px 25px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    height: 100%;
}
.MoreP {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    height: 100%;
}





