html{
    height:100%;
    width:100%;
}
body {
    height: 100%;
    width: 100%;
}

#MainH {
    text-align: justify;
    background-color: black;
    color: azure;
    margin: 6px 17px;
    padding: 25px 50px;
    font-size: 35px;
    width: 75%;
    float: none;
        max-width:90%;
    max-height: 100%;
}
#Rightblock {
    text-align: left;
    background-color: rgb(199, 218, 224);
    font-family: 'Times New Roman', Times, serif;
    color: cornsilk;
    padding: 25px 50px;
    margin: 6px 17px;
    width: 100%;
    float: right;
    overflow-y: hidden;
}
.CheckBox {
    background-color: rgba(112,0,0,0.7);
    border: solid;
    border-color: rgb(118,48,0);
    padding: 5px 10px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}

.RightBH {
    background-color: rgb(0, 88, 186);
    border-bottom: double;
    border-color: goldenrod;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 25px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}




#Leftblock {
    text-align: center;
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 50px;
    margin: 6px 17px;
    width: 100%;
    float: left;
    overflow-y: hidden;
}


.PersonB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
    padding: 25px 50px;
    margin: 6px 17px;
}
.PersonH {
    text-align: center;
    background-color: rgb(42,61,89);
    width: inherit;
    max-width: 90%;
    max-height: 100%;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 22px;
}
.PersonPar {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.PersonPar2 {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.EdB {
    background-color: rgb(102,99,103);
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.EdH {
    text-align: center;
    background-color: rgb(42,61,89);
    width: 50%;
    height: auto;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 22px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.EdL {
    text-align: justify;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.EdTable {
    text-align: center;
    border: groove;
    border-color: midnightblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.EdPar {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.CertificationB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.MatricCer {
    text-align: left;
    margin: 6px 17px;
    font-size: 20px;
    background-color: antiquewhite;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.CerL {
    text-align: center;
    background-color: rgb(42,61,89);
    padding: 7px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.CerTable {
    text-align: center;
    border: groove;
    border-color: midnightblue;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 15px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.ProjectB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.ProjectTable {
    text-align: center;
    border: groove;
    border-color: midnightblue;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 15px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.ProjectL {
    text-align: center;
    background-color: rgb(42,61,89);
    height: 100%;
    width: 100%;
    padding: 25px 50px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.ProjectP {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.MoreB {
    background-color: rgb(102,99,103);
    border: thin;
    border-color: cadetblue;
    padding: 25px 50px;
    margin: 6px 17px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.MoreL {
    text-align: center;
    background-color: rgb(42,61,89);
    padding: 7px 25px;
    margin: 6px 17px;
    font-size: 20px;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
}
.MoreP {
    text-align: justify;
    background-color: rgb(42,39,89);
    padding: 25px 50px;
    margin: 6px 17px;
    border: medium;
    border-color: rgb(128, 128, 128);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    width: inherit;
    max-width:90%;
    max-height:100%;
    
}

.button {
    color: black;
    background-color: darksalmon;
    border-bottom-style: outset;
    width: inherit;
    max-width: 90%;
    max-height: 100%;
    margin: 6px 17px;
    width: 50px;
    height:50x;
}

.image {
    width: 30%;
    height: 50%;
    padding: 25px 50px;
    margin: 6px 17px;
}


@media all (max-with:600px)
{
    #MainH {
        
        margin: 0px 0px;
        padding: 0px 0px;    
        max-width: 90%;
        max-height: 100%;
    }

    #Rightblock {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        overflow-y: hidden;
        float:right;
    }

    .CheckBox {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: ;left;
    }

    .RightBH {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }




    #Leftblock {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        overflow-y: hidden;
        float: left;
    }


    .PersonB {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .PersonH {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .PersonPar {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .PersonPar2 {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .EdB {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .EdH {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .EdL {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .EdTable {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .EdPar {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .CertificationB {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .MatricCer {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .CerL {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .CerTable {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .ProjectB {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .ProjectTable {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .ProjectL {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .ProjectP {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .MoreB {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .MoreL {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .MoreP {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: right;
    }

    .button {
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 90%;
        max-height: 100%;
        float: left;
    }

    .image {
        width: 30%;
        height: 30%;
        margin: 0px 0px;
        padding: 0px 0px;
        max-width: 40%;
        max-height: 40%%;
        float:left;
    }
}





